* {
    box-sizing: border-box;
}

body {
    background-image: url("imeges/children_cake/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bg-top {

    background-image: url("imeges/cream/top-picture.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.grid-container{
    display: grid;
    /*grid-template-rows: 10px;*/
    justify-content: flex-start;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    align-items: flex-start;
}